.champion-card {
  overflow: hidden;
  aspect-ratio: 11/20;
  max-height: 100%;
  position: relative;

  img {
    width: 100%;
    display: block;
    position: relative;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(255, 255, 255, 0) 40%
    );
  }

  &.is-ban {
    img {
      filter: grayscale(1);
    }

    &:hover img {
      filter: none;
    }
  }
}

.info {
  position: absolute;
  padding: 0.5rem;
  bottom: 0;
  left: 0;
  z-index: 1;
  font-size: 1em;

  & > * {
    display: block;
  }

  @media screen and (max-width: 767px) {
    font-size: 0.5em;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 0.8em;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1em;
  }
}
