// Colors

// Backgroud
$background: #6266a2;
$background-dark: #121328;

// Text
// $text-primary: #f1edf0;
$text-primary: #f4f5f7;
// $text-primary: #eacd7f;

// Elements
$primary: #eb7c03;
$secondary: #2196f3;

// Buttons
$disabled: gray;
