@import "../../scss/variables";

.champion-build {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  & > * {
    background-color: darken($background, 15%);
    padding: 1rem;
  }
}

.champion,
.controls {
  grid-column: 1/-1;
}

.runes {
  display: flex;
  gap: 4rem;
  justify-content: space-evenly;
}

.controls {
  display: grid;
  gap: 0.5rem 1rem;
  grid-template-columns: repeat(auto-fill, 11rem);
  justify-content: center;
}
