@font-face {
  font-family: "Google Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("LolSapiens\frontend\src\DMSerifText-Regular.ttf") format("woff2");
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.App {
  width: 100%;
}

.bg__gray {
  background-color: rgba(71, 71, 71, 0.64);
}

.champion {
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
  }

  &__stats {
    width: 20%;
  }

  .tags {
    display: flex;
    gap: 0.5rem;
  }

  .spells {
    display: flex;
    gap: 1rem;
  }
}

.chip {
  background-color: rgba(95, 95, 95, 0.64);
  border-radius: 15px;
  font-weight: 700;
  padding: 0.2rem 0.5rem;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 15px;
  max-width: 320px;
  padding: 0.5rem;
}

.portal {
  position: relative;
}
